## Equal Weight Stratergy

In [123]:
import pandas as pd 
import numpy as np 
import yfinance as yf 
import math

## Load the StockList

In [124]:
tickers = pd.read_csv("top 50 stock.csv")
tickers.head()

         Ticker              Company name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

In [133]:
def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period = '1d', group_by='ticker', auto_adjust=False)
    
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A')
        stocks_data.append({
            "Ticker" : ticker, 
            "Market Cap" : market_cap,
            "Latest Price" : latest_price,
        })
        
    stocks_df = pd.DataFrame(stocks_data)
        
    return stocks_df
        
    

tickers_list = tickers["Ticker"].values.tolist()
df = fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  17247043059712   1274.500000
1        TCS.NS  11935716212736   3298.899902
2   HDFCBANK.NS  14590449549312   1906.699951
3       INFY.NS   5881102073856   1419.500000
4  ICICIBANK.NS  10019853565952   1406.699951

In [134]:
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  17247043059712   1274.500000
1          TCS.NS  11935716212736   3298.899902
2     HDFCBANK.NS  14590449549312   1906.699951
3         INFY.NS   5881102073856   1419.500000
4    ICICIBANK.NS  10019853565952   1406.699951
5   HINDUNILVR.NS   5580276105216   2375.000000
6         SBIN.NS   7116938018816    797.450012
7   BAJFINANCE.NS   5689151848448   9162.500000
8   BHARTIARTL.NS  11323699101696   1889.099976
9          ITC.NS   5346649178112    427.250000
10   KOTAKBANK.NS   4350489919488   2188.100098
11    ADANIENT.NS   2790922649600   2418.100098
12          LT.NS   4465654497280   3247.300049
13     HCLTECH.NS   3897368248320   1438.000000
14  ASIANPAINT.NS   2367759843328   2467.899902
15    AXISBANK.NS   3688729411584   1190.800049
16   SUNPHARMA.NS   4202426531840   1751.500000
17       WIPRO.NS   2478092320768    236.899994
18  ULTRACEMCO.NS   3501072056320  11901.000000
19    HDFCLIFE.NS   1549979615232    720.049988
20        ONGC.NS   3063932256256    243.490005
21        NTPC.NS   3530556178432    364.000000
22   POWERGRID.NS   2873885458432    309.000000
23  TATAMOTORS.NS   2288143040512    621.549988
24  INDUSINDBK.NS    619114266624    794.700012
25  ADANIGREEN.NS   1500313944064    947.150024
26       TITAN.NS   2951642087424   3327.500000
27    DIVISLAB.NS   1497245155328   5640.000000
28       TECHM.NS   1156201840640   1306.800049
29      MARUTI.NS   3676943155200  11695.000000
30   COALINDIA.NS   2458005012480    398.850006
31        BPCL.NS   1294394458112    298.350006
32    JSWSTEEL.NS   2458051411968   1007.200012
33     DRREDDY.NS    969539452928   1163.599976
34  BAJAJFINSV.NS   3249092165632   2035.300049
35  ADANIPORTS.NS   2721563279360   1259.400024
36       CIPLA.NS   1223939194880   1515.199951
37   BRITANNIA.NS   1313838596096   5454.600098
38     HAVELLS.NS   1027495100416   1638.500000
39    SHREECEM.NS   1118913953792  31000.000000
40      GRASIM.NS   1812192559104   2760.699951
41   TATASTEEL.NS   1710382645248    137.139999
42  HEROMOTOCO.NS    754401542144   3771.800049
43         M&M.NS   3213565100032   2679.399902
44   EICHERMOT.NS   1556840316928   5678.500000
45         IOC.NS   1896477097984    134.300003
46     SBICARD.NS    862690213888    906.349976
47  PIDILITIND.NS   1543393640448   3034.300049
48       DMART.NS   2835535364096   4357.100098
49     HDFCAMC.NS    901778833408   4218.000000

In [135]:
df = df.sort_values(by = "Market Cap", ascending = False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  17247043059712   1274.500000
2     HDFCBANK.NS  14590449549312   1906.699951
1          TCS.NS  11935716212736   3298.899902
8   BHARTIARTL.NS  11323699101696   1889.099976
4    ICICIBANK.NS  10019853565952   1406.699951
6         SBIN.NS   7116938018816    797.450012
3         INFY.NS   5881102073856   1419.500000
7   BAJFINANCE.NS   5689151848448   9162.500000
5   HINDUNILVR.NS   5580276105216   2375.000000
9          ITC.NS   5346649178112    427.250000
12          LT.NS   4465654497280   3247.300049
10   KOTAKBANK.NS   4350489919488   2188.100098
16   SUNPHARMA.NS   4202426531840   1751.500000
13     HCLTECH.NS   3897368248320   1438.000000
15    AXISBANK.NS   3688729411584   1190.800049
29      MARUTI.NS   3676943155200  11695.000000
21        NTPC.NS   3530556178432    364.000000
18  ULTRACEMCO.NS   3501072056320  11901.000000
34  BAJAJFINSV.NS   3249092165632   2035.300049
43         M&M.NS   3213565100032   2679.399902
20        ONGC.NS   3063932256256    243.490005
26       TITAN.NS   2951642087424   3327.500000
22   POWERGRID.NS   2873885458432    309.000000
48       DMART.NS   2835535364096   4357.100098
11    ADANIENT.NS   2790922649600   2418.100098
35  ADANIPORTS.NS   2721563279360   1259.400024
17       WIPRO.NS   2478092320768    236.899994
32    JSWSTEEL.NS   2458051411968   1007.200012
30   COALINDIA.NS   2458005012480    398.850006
14  ASIANPAINT.NS   2367759843328   2467.899902
23  TATAMOTORS.NS   2288143040512    621.549988
45         IOC.NS   1896477097984    134.300003
40      GRASIM.NS   1812192559104   2760.699951
41   TATASTEEL.NS   1710382645248    137.139999
44   EICHERMOT.NS   1556840316928   5678.500000
19    HDFCLIFE.NS   1549979615232    720.049988
47  PIDILITIND.NS   1543393640448   3034.300049
25  ADANIGREEN.NS   1500313944064    947.150024
27    DIVISLAB.NS   1497245155328   5640.000000
37   BRITANNIA.NS   1313838596096   5454.600098
31        BPCL.NS   1294394458112    298.350006
36       CIPLA.NS   1223939194880   1515.199951
28       TECHM.NS   1156201840640   1306.800049
39    SHREECEM.NS   1118913953792  31000.000000
38     HAVELLS.NS   1027495100416   1638.500000
33     DRREDDY.NS    969539452928   1163.599976
49     HDFCAMC.NS    901778833408   4218.000000
46     SBICARD.NS    862690213888    906.349976
42  HEROMOTOCO.NS    754401542144   3771.800049
24  INDUSINDBK.NS    619114266624    794.700012

## Taking Top 10 Stocks as per the market cap

In [136]:
df = df.head(10)
df.reset_index(inplace=True, drop = True)
df

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  17247043059712   1274.500000
1    HDFCBANK.NS  14590449549312   1906.699951
2         TCS.NS  11935716212736   3298.899902
3  BHARTIARTL.NS  11323699101696   1889.099976
4   ICICIBANK.NS  10019853565952   1406.699951
5        SBIN.NS   7116938018816    797.450012
6        INFY.NS   5881102073856   1419.500000
7  BAJFINANCE.NS   5689151848448   9162.500000
8  HINDUNILVR.NS   5580276105216   2375.000000
9         ITC.NS   5346649178112    427.250000

In [137]:
portfolio_size = int(input("Enter the amount you want to invest: "))
position_size =  portfolio_size / len(df.index)
position_size

10000.0

In [138]:
df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(
    position_size / price
))

df

C:\Users\HP\AppData\Local\Temp\ipykernel_15772\3798226014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(

          Ticker      Market Cap  Latest Price  Number of Shares to buy
0    RELIANCE.NS  17247043059712   1274.500000                        7
1    HDFCBANK.NS  14590449549312   1906.699951                        5
2         TCS.NS  11935716212736   3298.899902                        3
3  BHARTIARTL.NS  11323699101696   1889.099976                        5
4   ICICIBANK.NS  10019853565952   1406.699951                        7
5        SBIN.NS   7116938018816    797.450012                       12
6        INFY.NS   5881102073856   1419.500000                        7
7  BAJFINANCE.NS   5689151848448   9162.500000                        1
8  HINDUNILVR.NS   5580276105216   2375.000000                        4
9         ITC.NS   5346649178112    427.250000                       23